<!--spark rtabmap-->
<launch>

    <!-- camera -->
    <arg name="camera_types" default="astrapro" doc="camera type [astrapro, astra]" />
    <!-- spark base driver -->
    <include file="$(find spark_rtabmap)/launch/rtab_demo.launch">
        <arg name="camera_types"    value="$(arg camera_types)" />

    </include>

    <!-- rtabmap -->
    <include file="$(find spark_rtabmap)/launch/spark_mapping_$(arg camera_types).launch"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spark_rtabmap)/rviz/spark_rtab_map_$(arg camera_types).rviz"/>
</launch>